@import url(./__title/about__title.css);
@import url(./__text/about__text.css);
.about {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 105px;
    box-sizing: border-box;
    background: #fff;
}