.notFound__title {
    max-width: 356px;
    font-family: 'Robotoslab';
    color: #1A1B22;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}