@import url(./social-icon/social-icon.css);
.social-icons {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 430px) {
    .social-icons {
        position: absolute;
        top: 3px;
        right: 18px;
    }
}