.tabel__scale {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 16px 0 3px 96px;
}

@media screen and (max-width: 500px) {
    .tabel__scale {
        display: none;
    }
}