.btnShowMore {
    margin: 64px auto 0 auto;
    padding: 18px 84px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: #FFFFFF;
    border-radius: 80px;
    border: 1.5px solid transparent;
}

.btnShowMore:hover {
    cursor: pointer;
    background: #e0e0e0;
}

.btnShowMore:focus {
    outline: none;
    border: 1.5px solid #ccc;
}

@media screen and (max-width: 1020px) {
    .btnShowMore {
        margin-top: 28px;
    }
}