.root {
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 576px;
}

@media screen and (max-width: 1023px) {
    .root {
        min-height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .root {
        min-height: 535px;
    }
}