@import url(./_theme_dark/menu__link_theme_dark.css);
@import url(./_theme_gray/menu__link_theme_gray.css);
@import url(./_theme_light/menu__link_theme_light.css);
.menu__link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    /* color: #fff; */
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 34px;
    padding-bottom: 27px;
}