.technology__images {
    margin-right: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
    .technology__images {
        margin-top: 45px;
    }
}