.tabel__rectange {
    height: 24px;
    margin: 10px 0;
    min-width: 2%;
    background-color: #2F71E5;
    padding-left: 6px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.4px;
    color: #fff;
}


/* .tabel__rectange:last-child {
    margin: 0 0 16px 0;
} */

@media screen and (max-width: 500px) {
    .tabel__rectange {
        margin: 12px 0 24px 0;
    }
}