@import url(./__img/card__img.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__source/card__source.css);
@import url(./__wrapper-link/card__wrapper-link.css);
.card {
    background-color: #fff;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}