.swiper-container {
    height: 100%;
    overflow-y: none;
}

@media screen and (max-width: 370px) {
    .swiper-container {
        padding-left: 16px;
    }
}

.shadow-left {
    position: absolute;
    background: linear-gradient(to right, #F5F6F7, rgba(245, 246, 247, 0) 100%);
    z-index: 6;
    width: 5%;
    height: 100%;
    top: 0;
    left: 0;
}

.shadow-right {
    position: absolute;
    background: linear-gradient(to left, #F5F6F7, rgba(245, 246, 247, 0) 100%);
    z-index: 6;
    width: 5%;
    height: 100%;
    top: 0;
    right: 0;
}

@media screen and (max-width: 370px) {
    .shadow-left,
    .shadow-right {
        display: none;
    }
}

.swiper-button-next {
    background: url(../../images/slider-control.svg);
}

.swiper-button-prev {
    background: url(../../images/slider-control1.svg);
}

@media screen and (max-width: 1023px) {
    .swiper-button-prev,
    .swiper-button-next {
        background: none;
    }
}

.swiper-button-next,
.swiper-button-prev {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 48%;
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    padding-top: 60px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1
}

.swiper-slide {
    margin-right: -5%;
}

@media screen and (max-width: 1023px) {
    .swiper-slide {
        margin-right: -7%;
    }
}

@media screen and (max-width: 550px) {
    .swiper-slide {
        margin-right: 0;
    }
}