.notFound__text {
    max-width: 356px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #B6BCBF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}