.tabel__date {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 10px 0;
}

@media screen and (max-width: 500px) {
    .tabel__date {
        margin: 0 0 24px 0;
        line-height: 55px;
    }
}