.card__date {
    color: #B6BCBF;
    font-family: 'Sourcesanpro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 16px 18px 12px 18px;
}