@import url(./__icon/notFound__icon.css);
@import url(./__title/notFound__title.css);
@import url(./__text/notFound__text.css);
.notFound {
    /* max-width: 1440px; */
    min-height: 374px;
    margin: 0 auto;
    background: #F5F6F7;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .notFound {
        min-height: 270px;
    }
}