.weather__day {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 550px) {
    .weather__day {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .weather__day {
        display: none;
    }
}