@import url(./__link/menu__link.css);
@import url(./__active-theme-light/menu__active-theme-light.css);
@import url(./__active-theme-dark/menu__active-theme-dark.css);
@import url(./__active-theme-gray/menu__active-theme-gray.css);
.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -34px;
}