.commit__image {
    object-fit: cover;
    width: 64px;
    height: 64px;
    margin-top: 18px;
    border-radius: 50%;
}

@media screen and (max-width: 1023px) {
    .commit__image {
        width: 42px;
        height: 42px;
        margin-top: 0;
    }
}