.card__text {
    color: #1A1B22;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 18px 12px 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}