.weather__text {
    font-family: 'Sourcesanpro', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin: 0 0 10px 0;
}

@media screen and (max-width: 500px) {
    .weather__text {
        font-size: 14px;
    }
}