<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= require('./images/favicon.svg').default %>" type="image/svg">
    <title>Search news/About</title>
    <meta name="description" content="Что в мире творится? Поиск новостей по всему миру, популярность статей, аналитика ...">
    <meta name="author" content="https://asnazarov.github.io/diploma-yandex-practicum/">
    <meta name="Robots" content="index,follow">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>

<body>
    <header class="header">
        <a class="logo logo_theme_dark" href="./index.html">NewsAnalyzer</a>
        <nav>
            <ul class="menu">
                <li><a class="menu__link menu__link_theme_dark " href="./index.html">Главная</a></li>
                <li><a class="menu__link menu__link_theme_dark menu__active-theme-dark" href="./about.html">О
                        проекте</a></li>
            </ul>
        </nav>
    </header>
    <hr class="halve-line halve-line_theme_light" />
    <section class="about">
        <h2 class="content-title">Клиентам</h2>
        <p class="about__text">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент, какими технологиями владеет.</p>
        <p class="about__text">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
        <p class="about__text">Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
        <p class="about__text">При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если посетители — пользователи старых
            операционных систем, у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает.
        </p>
        <p class="about__text">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
    </section>
    <section class="technology">
        <div class="technology__container">
            <h2 class="content-title">Используемые технологии</h2>
            <div class="technology__images">
                <img src="<%=require('./images/html.png')%>" alt="">
                <img src="<%=require('./images/css.png')%>" alt="">
                <img src="<%=require('./images/js.png')%>" alt="">
                <img src="<%=require('./images/webpack.png')%>" alt="">
            </div>
        </div>
    </section>
    <address class="author">
        <img class="author__foto" src="<%=require('./images/my-foto.jpeg')%>" alt="Фото автора">
        <div class="author__items">
            <h2 class="content-title">Об авторе</h2>
            <p class="author__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы
                занимаетесь, какими технологиями разработки владеете.</p>
            <p class="author__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и
                чем можете помочь потенциальным заказчикам.</p>
        </div>
    </address>
    <section class="commit">
        <div class="content-nav">
            <h2 class="content-title">История коммитов из GitHub</h2>
            <a class="content-nav__link" href="https://github.com/asnazarov/diploma-yandex-practicum/commits/level-1">Открыть в Github </a>
        </div>
        <div class="swiper-container">
            <div class="shadow"></div>
            <div class="swiper-wrapper commit__cards">
                <a class="swiper-slide commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                    <p class="commit__date">143 августа, 2019</p>
                    <div class="commit__head">
                        <img class="commit__image" src="<%=require('./images/commit/image-01.jpg')%>" alt="">
                        <div class="commit__head-item">
                            <h2 class="commit__title">Антон Долинин</h2>
                            <p class="commit__mail">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="swiper-slide commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                    <p class="commit__date">14 августа, 2019</p>
                    <div class="commit__head">
                        <img class="commit__image" src="<%=require('./images/commit/image-04.jpg')%>" alt="">
                        <div class="commit__head-item">
                            <h2 class="commit__title">Мария Фёдорова</h2>
                            <p class="commit__mail">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="swiper-slide commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                    <p class="commit__date">14 августа, 2019</p>
                    <div class="commit__head">
                        <img class="commit__image" src="<%=require('./images/commit/image-01.jpg')%>" alt="">
                        <div class="commit__head-item">
                            <h2 class="commit__title">Антон Долинин</h2>
                            <p class="commit__mail">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="swiper-slide commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                    <p class="commit__date">14 августа, 2019</p>
                    <div class="commit__head">
                        <img class="commit__image" src="<%=require('./images/commit/image-04.jpg')%>" alt="">
                        <div class="commit__head-item">
                            <h2 class="commit__title">Мария Фёдорова</h2>
                            <p class="commit__mail">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="swiper-slide commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                    <p class="commit__date">14 августа, 2019</p>
                    <div class="commit__head">
                        <img class="commit__image" src="<%=require('./images/commit/image-01.jpg')%>" alt="">
                        <div class="commit__head-item">
                            <h2 class="commit__title">Антон Долинин</h2>
                            <p class="commit__mail">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="swiper-slide commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                    <p class="commit__date">14 августа, 2019</p>
                    <div class="commit__head">
                        <img class="commit__image" src="<%=require('./images/commit/image-01.jpg')%>" alt="">
                        <div class="commit__head-item">
                            <h2 class="commit__title">Антон Долинин</h2>
                            <p class="commit__mail">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>
                <a class="swiper-slide commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                    <p class="commit__date">14 августа, 2019</p>
                    <div class="commit__head">
                        <img class="commit__image" src="<%=require('./images/commit/image-01.jpg')%>" alt="">
                        <div class="commit__head-item">
                            <h2 class="commit__title">Антон Долинин</h2>
                            <p class="commit__mail">anton@yandex.ru</p>
                        </div>
                    </div>
                    <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                </a>
                <!-- <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div> -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <!-- <div class="commit__cards">
            <a class="commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                <p class="commit__date">14 августа, 2019</p>
                <div class="commit__head">
                    <img class="commit__image" src="<%=require('./images/commit/image-01.jpg')%>" alt="">
                    <div class="commit__head-item">
                        <h2 class="commit__title">Антон Долинин</h2>
                        <p class="commit__mail">anton@yandex.ru</p>
                    </div>
                </div>
                <p class="commit__text">Emmet (formerly Zen Coding) is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
            </a>
            <a class="commit__card" href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                <p class="commit__date">14 августа, 2019</p>
                <div class="commit__head">
                    <img class="commit__image" src="<%=require('./images/commit/image-04.jpg')%>" alt="">
                    <div class="commit__head-item">
                        <h2 class="commit__title">Мария Фёдорова</h2>
                        <p class="commit__mail">mariiifed@yandex.ru</p>
                    </div>
                </div>
                <p class="commit__text">You can install this plugin directly from NetBeans Plugin Portal: in NetBeans, open Tools >Plugins > Available plugins and find and install Emmet plugin.</p>
            </a>

        </div> -->
    </section>
    <footer class="footer">
        <p class="footer__copyright">&copy; 2020 Alexander Nazarov</p>
        <nav>
            <ul class="menu">
                <li><a class="menu__link menu__link_theme_dark" href="./index.html">Главная</a></li>
                <li><a class="menu__link menu__link_theme_dark" href="./about.html">О проекте</a></li>
                <li><a class="menu__link menu__link_theme_dark" href="https://praktikum.yandex.ru/web">Яндекс.Практикум</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="social-icons">
                <li>
                    <a class="social-icon social-icon_github" title="Github" href="https://github.com/asnazarov/"><img
                            src="<%=require('./images/github.svg')%>" alt="Github"></a>
                </li>
                <li>
                    <a class="social-icon social-icon_facebook" title="Facebook" href="https://facebook.com/"><img
                            src="<%=require('./images/fb.svg')%>" alt="Facebook"></a>
                </li>
            </ul>
        </nav>
    </footer>

    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>