<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="<%= require('./images/favicon.svg').default %>" type="image/svg"> -->
    <link rel="shortcut icon" href="./images/favicon.svg" type="image/svg">
    <title>Search news/About</title>
    <meta name="description" content="Что в мире творится? Поиск новостей по всему миру, популярность статей, аналитика ...">
<!--    <meta name="author" content="Александр Назаров">-->
    <meta name="author" content="Александр Назаров">
    <meta name="Robots" content="index,follow">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>

<body>
    <header class="header">
        <a class="logo logo_theme_dark" href="./index.html">NewsAnalyzer</a>
        <nav>
            <ul class="menu">
                <li><a class="menu__link menu__link_theme_gray menu__hover-theme-dark" href="./index.html">Главная</a>
                </li>
                <li><a class="menu__link menu__link_theme_dark menu__active-theme-dark" href="./about.html">О
                        проекте</a></li>
            </ul>
        </nav>
    </header>
    <hr class="halve-line halve-line_theme_light" />
    <section class="about">
        <h2 class="content-title">Клиентам</h2>
        <p class="about__text">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент, какими технологиями владеет.</p>
        <p class="about__text">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
        <p class="about__text">Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
        <p class="about__text">При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если посетители — пользователи старых
            операционных систем, у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает.
        </p>
        <p class="about__text">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
    </section>
    <section class="technology">
        <div class="technology__container">
            <h2 class="content-title">Используемые технологии</h2>
            <div class="technology__images">
                <img src="<%=require('./images/html.png')%>" alt="html">
                <img src="<%=require('./images/css.png')%>" alt="css">
                <img src="<%=require('./images/js.png')%>" alt="JavaScript">
                <img src="<%=require('./images/webpack.png')%>" alt="webpack">
            </div>
        </div>
    </section>
    <section class="author">
        <img class="author__foto" src="<%=require('./images/my-foto.jpeg')%>" alt="Фото автора">
        <div class="author__items">
            <h2 class="content-title">Об авторе</h2>
            <p class="author__text">Меня зовут Александр Назаров. Я начинающий Frontend-разработчик. Владею на хорошем уровне технологиями: JavaScript ES6, ООП, HTML5, БЭМ, Grid, CSS, SCSS, Git, API, Webpack, Gulp, Photoshop, Figma, адаптивная и кроссбраузерная верстка с валидным
                кодом. В настоящее время изучаю React и буду развиваться в этом направлении.</p>
            <p class="author__text">Данный проект является дипломной работой по окончании обучения курса <span><a
                        class="navigation" href="https://praktikum.yandex.ru/web">Яндекс.Практикума</a></span> и был написан в августе 2020 г. В результате обучения было выполнено три учебных (<span><a class="navigation"
                        href="https://hakim.se/404">временно не работает</a></span>, <span><a class="navigation"
                        href="https://github.com/asnazarov/-ard-editor">github.com/сard-editor</a></span>, <span><a
                        class="navigation"
                        href="https://github.com/asnazarov/travel-rus.site">github.com/travel-rus</a></span>) и один дипломный проект (<span><a class="navigation"
                        href="https://github.com/asnazarov/diploma-yandex-practicum">github.com/diploma</a></span>). Все работы были проверены опытными ревьюерами.</p>
            <p class="author__text">Рассмотрю предложения о сотрудничестве (<span><a class="navigation"
                        href="https://t.me/asn_nazarov">telegram</a></a></span>, <span><a class="navigation"
                        href="mailto:asn.nazarov.asn@gmail.com?subject=Сотрудничество&body=Добрый%20день!...%0A%0A%0A%0A%0AНомер%20для%20связи:%20">e-mail</a></span>), могу быть полезен любой команде, люблю решать сложные задачи и имею большое желание
                повышать профессиональный уровень.</p>
        </div>
    </section>
    <section class="commit">
        <div class="content-nav commit__main-head">
            <h2 class="content-title ">История коммитов из GitHub</h2>
            <a class="content-nav__link content-nav__link_hidden" href="https://github.com/asnazarov/diploma-yandex-practicum/commits/level-1">Открыть в Github </a>
        </div>
        <div class="swiper-container">
            <div class="shadow-left"></div>
            <div class="shadow-right"></div>
            <div class=" commit__cards swiper-wrapper">

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <a class="commit__btn" href="https://github.com/asnazarov/diploma-yandex-practicum/commits/level-1" target="_blank">Открыть в GitHub</a>
    </section>
    <footer class="footer">
        <p class="footer__copyright">&copy; 2020 Alexander Nazarov</p>
        <nav>
            <ul class="menu footer__menu">
                <li><a class="menu__link footer__link menu__link_theme_dark menu__hover-theme-gray" href="./index.html">Главная</a>
                </li>
                <li><a class="menu__link footer__link menu__link_theme_dark menu__hover-theme-gray" href="./about.html">О проекте</a>
                </li>
                <li><a class="menu__link footer__link menu__link_theme_dark menu__hover-theme-gray" href="https://praktikum.yandex.ru/web" target="_blank">Яндекс.Практикум</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="social-icons">
                <li>
                    <a class="social-icon social-icon_github" target="_blank" title="Github" href="https://github.com/asnazarov/"><img src="<%=require('./images/github.svg')%>"
                            alt="Github"></a>
                </li>
                <li>
                    <a class="social-icon social-icon_facebook" target="_blank" title="Facebook" href="https://facebook.com/"><img src="<%=require('./images/fb.svg')%>" alt="Facebook"></a>
                </li>
            </ul>
        </nav>
    </footer>

    <template id="cadr-template-commit">
        <div class="swiper-slide commit__card">
            <a class="commit__wrapper-link" target="_blank"
                href="https://github.com/asnazarov/diploma-yandex-practicum/commit/b01ca23c9ddaa5a82cad5f083f8ea06f2d9b138c">
                <p class="commit__date">143 августа, 2019</p>
                <div class="commit__head">
                    <img class="commit__image" src="<%=require('./images/commit/image-01.jpg')%>" alt="">
                    <div class="commit__head-item">
                        <h2 class="commit__title">Антон Долинин</h2>
                        <p class="commit__mail">anton@yandex.ru</p>
                    </div>
                </div>
                <p class="commit__text">Emmet (formerly Zen Coding) Emmet (formerly Zen Coding) is a web-developer’s
                    toolkit that can is a web-developer’s toolkit that can greatly improve your HTML & CSS workflow.
                </p>
            </a>
        </div>
    </template>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>