<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="<%= require('./images/favicon.svg').default %>" type="image/svg"> -->
    <link rel="shortcut icon" href="./images/favicon.svg" type="image/svg">
    <title>Search news</title>
    <meta name="description" content="Что в мире творится? Поиск новостей по всему миру, популярность статей, аналитика ...">
    <meta name="author" content="Александр Назаров">
    <meta name="Robots" content="index,follow">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css%>">
</head>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m, e, t, r, i, k, a) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(
            k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(66139033, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/66139033" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<body>
    <div class="root">
        <header class="header">
            <a class="logo logo_theme_light" href="./index.html">NewsAnalyzer</a>
            <nav>
                <ul class="menu">
                    <li><a class="menu__link menu__link_theme_light menu__active-theme-light" href="./index.html">Главная</a></li>
                    <li><a class="menu__link menu__link_theme_gray menu__hover-theme-light" href="./about.html">О
                            проекте</a></li>
                </ul>
            </nav>
        </header>
        <hr class="halve-line halve-line_theme_light" />
        <section class="cover">
            <div class="weatherWrapper">

            </div>

            <div class="description">
                <h1 class="description__title">Что в мире творится?</h1>
                <p class="description__text">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за прошедшую неделю.</p>
                <form class="search">
                    <input class="search__bar" required type="text" placeholder="Введите тему новости">
                    <button class="search__btn" type="submit">Искать</button>
                </form>
            </div>
            <div class="cover__item">
                <template id="cadr-template-currency">
                    <div class="exchangeRates">
                        <h2 class="exchangeRates__title">Курс валют на сегодня</h2>
                        <p class="exchangeRates__info">по данным ЦБ РФ</p>
                        <div class="exchangeRates__wrapperNum">
                            <div class="exchangeRates__data">
                                <p class="exchangeRates__dataText exchangeRates__dataText_usd">USD</p>
                                <p class="exchangeRates__dataNumber exchangeRates__dataNumber_usd">01</p>
                            </div>
                            <div class="exchangeRates__data">
                                <p class="exchangeRates__dataText exchangeRates__dataText_eur">EUR</p>
                                <p class="exchangeRates__dataNumber exchangeRates__dataNumber_eur">00</p>
                            </div>
                        </div>
                    </div>
                </template>
                <div class="clock"></div>
                <!-- здесь будет время -->
            </div>
        </section>
    </div>
    <div class="notFound">
        <img class="notFound__icon" src="<%=require('./images/not-found_v1.svg')%>" alt="Не найдено">
        <h2 class="notFound__title">Ничего не найдено</h2>
        <p class="notFound__text">К сожалению по вашему запросу ничего не найдено.</p>
    </div>
    <div class="preloader">
        <img class="preloader__img" src="<%=require('./images/weiting.png')%>" alt="Идет поиск новостей">
        <p class="preloader__text">Идет поиск новостей...</p>
    </div>
    <section class="result">
        <div class="result__container">
            <div class="content-nav">
                <h2 class="content-title">Результаты поиска</h2>
                <a class="content-nav__link" href="./analytics.html">Посмотреть аналитику </a>
            </div>
            <div class="cards-news">
            </div>
            <button class="btnShowMore">Показать еще</button>
        </div>
    </section>
    <section class="author">
        <img class="author__foto" src="<%=require('./images/my-foto.jpeg')%>" alt="Фото автора">
        <div class="author__items">
            <h2 class="content-title">Об авторе</h2>
            <p class="author__text">Меня зовут Александр Назаров. Я начинающий Frontend-разработчик. Владею на хорошем уровне технологиями: JavaScript ES6, ООП, HTML5, БЭМ, Grid, CSS, SCSS, Git, API, Webpack, Gulp, Photoshop, Figma, адаптивная и кроссбраузерная верстка с валидным
                кодом. В настоящее время изучаю React и буду развиваться в этом направлении.</p>
            <p class="author__text">Данный проект является дипломной работой по окончании обучения курса <span><a
                        class="navigation" href="https://praktikum.yandex.ru/web">Яндекс.Практикума</a></span> и был написан в августе 2020 г. В результате обучения было выполнено три учебных (<span><a class="navigation"
                        href="https://hakim.se/404">временно не работает</a></span>, <span><a class="navigation"
                        href="https://github.com/asnazarov/-ard-editor">github.com/сard-editor</a></span>, <span><a
                        class="navigation"
                        href="https://github.com/asnazarov/travel-rus.site">github.com/travel-rus</a></span>) и один дипломный проект (<span><a class="navigation"
                        href="https://github.com/asnazarov/diploma-yandex-practicum">github.com/diploma</a></span>). Все работы были проверены опытными ревьюерами.</p>
            <p class="author__text">Рассмотрю предложения о сотрудничестве (<span><a class="navigation"
                        href="https://t.me/asn_nazarov">telegram</a></a></span>, <span><a class="navigation"
                        href="mailto:asn.nazarov.asn@gmail.com?subject=Сотрудничество&body=Добрый%20день!...%0A%0A%0A%0A%0AНомер%20для%20связи:%20">e-mail</a></span>), могу быть полезен любой команде, люблю решать сложные задачи и имею большое желание
                повышать профессиональный уровень.</p>
        </div>
    </section>
    <footer class="footer">
        <p class="footer__copyright">&copy; 2020 Alexander Nazarov</p>
        <nav>
            <ul class="menu footer__menu">
                <li><a class="menu__link footer__link menu__link_theme_dark menu__hover-theme-gray" href="./index.html">Главная</a>
                </li>
                <li><a class="menu__link footer__link menu__link_theme_dark menu__hover-theme-gray" href="./about.html">О проекте</a>
                </li>
                <li><a class="menu__link footer__link menu__link_theme_dark menu__hover-theme-gray" href="https://praktikum.yandex.ru/web" target="_blank">Яндекс.Практикум</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="social-icons">
                <li>
                    <a class="social-icon social-icon_github" target="_blank" title="Github" href="https://github.com/asnazarov/"><img src="<%=require('./images/github.svg')%>"
                            alt="Github"></a>
                </li>
                <li>
                    <a class="social-icon social-icon_facebook" target="_blank" title="Facebook" href="https://facebook.com/"><img src="<%=require('./images/fb.svg')%>" alt="Facebook"></a>
                </li>
            </ul>
        </nav>
    </footer>
    <template id="cadr-template-weather">
        <div class="weather">
            <img class="weather__icon" src="<%=require('./images/weather/029-sun-7.svg')%>" alt="">
            <div class="weather__item">
                <p class="weather__city">Питер</p>
                <p class="weather__text">пасмурно</p>
            </div>
            <p class="weather__temperature">10 C</p>
            <div class="weather__item">
                <p class="weather__day">пятница</p>
                <p class="weather__date">10/10/2020</p>
            </div>
        </div>
    </template>
    <template id="cadr-template-new">
        <div>
            <a class="card__wrapper-link" target="_blank" href="https://www.google.ru/">
                <div class="card">
                    <img class="card__img" src="<%=require('./images/cards/image_08.jpg')%>"
                        alt="Национальное достояние – парки">
                    <p class="card__date">19 августа, 2019</p>
                    <h2 class="card__title">Национальное достояние – парки</h2>
                    <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                        начала
                        складываться система национальных парков – охраняемых территорий, где и сегодня
                        каждый
                        может
                        приобщиться к природе.</p>
                    <p class="card__source">Лента.ру</p>
                </div>
            </a>
        </div>
    </template>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>