.commit__card {
    cursor: grab;
    text-decoration: none;
    background: #fff;
    display: block;
    border-radius: 16px;
    width: 400px;
    padding: 24px 24px 65px 24px;
    box-sizing: border-box;
}

.commit__card:active {
    cursor: grabbing;
}

@media screen and (max-width: 1023px) {
    .commit__card {
        width: 336px;
        padding: 24px;
    }
}

@media screen and (max-width: 370px) {
    .commit__card {
        width: 288px;
        padding: 16px;
    }
}