.card__source {
    color: #B6BCBF;
    font-family: 'Robotoslab', sans-serif;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 12px 18px 16px 18px;
    padding-bottom: 16px;
}